{% extends 'basketapp/base.html' %}
{% load static %}

{% block container %}
    <div class="basket_list">
        {% if basket %}
            {% for el_b in basket %}
                <div class="basket_record">
                {% include 'basketapp/includes/basket_record_base.html' %}
                </div>
            {% endfor %}
            <div class="basket_summary">
            {% include 'basketapp/includes/basket_summary_base.html' %}
            </div>
        {% else %}<h4>Basket is empty.</h4>
        {% endif %}
        <a href="{% url 'mainshop:index' %}" class="btn btn-round">Main page</a>
    </div>
{% endblock %}