{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <div class="h2 text-center head">Enter</div>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Enter">
    {% if get_back_redirect %}
          <input type="hidden" name="redirect_post" value={{ get_back_redirect }}>
    {% endif %}
    </form>
    <a href=" {% url 'authshop:registration' %}"
       class="btn btn-round form-control">
        Registration
    </a>

{% endblock %}
