{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <div class="h2 text-center head">
        {{ pg_title }}
    </div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value={{ btn_title }}>
    </form>
    <a href="{% url 'mainapp:index' %}"
       class="btn btn-round form-control">
        To main page
    </a>
{% endblock %}
