{% extends 'adminapp/base.html' %}
{% load my_tag_1 %}
{% load static %}

{% block container %}
{#    <div class="users_list">#}
{#        <a href="{#% url 'adminshop:user_create' %" class="btn btn-primary new_user">#}
{#            new user#}
{#        </a>#}
        {% for shop_user in all_users %}
            <div class="user_record {% if not shop_user.is_active %}not_active{% endif %}">
            <img src="{{ shop_user.avatar|media_def_usr }}"
                 alt="{{ shop_user.username }}">
            <div class="user_role">
                {% if shop_user.is_superuser %}
                    root
                {% else %}
                    user
                {% endif %}
                <a href="{% url 'adminshop:user_upd' shop_user.pk %}"
                   class="btn btn-primary">
                    edit
                </a>
                <a href="{% url 'adminshop:user_del' shop_user.pk %}"
                        {% if not shop_user.is_active %}
                   class="btn btn-danger">
                            restore
                        {% else %}
                            class="btn btn-danger">
                            delete
                        {% endif %}
                </a>
            </div>
            <div class="user_name">
                <p><strong>{{ shop_user.username }}</strong></p>
            </div>
            <div class="user_age">
                age:<br>
                {{ shop_user.age }} y.o.
            </div>
            <div class="user_lastlogin">
                logged:<br>
                {{ shop_user.last_login }}
            </div>
            </div>
        {% endfor %}
{% endblock %}